<h1>To Sign up, enter a valid username, password and email address</h1>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="email" name="email" placeholder="email:">
  <input type="submit" value="Sign Up">
</form>


<p><a href="/login">Log In</a> <a href="/signup">Sign Up</a> <a href="/logout">Log Out</a></p>
