<h1>Welcome, <%= @user.username %></h1>

<h3>Albums</h3>

<% @albums.each do |album| %>
<ul>
  <li>Album Name: <%= album.name %></li>
  <li>Year Released: <%= album.year_released %></li>
  <li>Band Name: <%= album.user.username.upcase %></li>
  <li>View Songs</li>
  <% if album.user_id == @user.id %>
  <li>Edit Link</li>
  <% end %>
</ul>
<% end %>



<p>Return to main <a href="/main">Main</a></p>

<p>Create <a href="/album/new">New Album</a></p>
