<h2>To Create a new Album, enter the album name and year of release</h2>

<form action="/album" method="POST">
  <label>Album Name:</label>
  <br></br>
  <input type="text" name="name" id="name">
  <br></br>
  <label>Year of Release:</label>
  <br></br>
  <input type="text" name="year_released" id="year_released">
  <br></br>
  <button type="submit" value="submit">submit</button>
</form>


<p>Return to <a href="/albums">List of albums</a></p>
