*{

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

h1{
  color: rgb(111,127,122);
  background: #F3EBE9;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ccc;
  margin-top: 20px;
  margin-bottom: 1px;
}

h2{
  color: rgb(111,127,122);
}

  #links {
  position: fixed;
  top: 0;
  right: 5px;
  display: inline-block;

  margin: 0;
  color: black;
  text-align: right;
  }

  #links a {
    display: inline-block;
    color: black;
    font-weight: bold;
  }



  #createlinks{
    background: white;
    font-weight: bold;
  }

  #createlinks a{
    display: inline-block;
    background: white;
    width: 20%;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    text-align: center;
    border-right: 0px solid #ccc;
    text-decoration: none;
    font: 15px "Times New Roman", serif;
  }

  #toptext{
    position: fixed;
    top: 0px;
    width: 100%;
  }

  #albumlist {
    background: white;
  }

  #listheading {
    background: #F0F0F0;

    color: black;
    font-weight: bold;
    text-align: left;
    padding: 2px 0px 0px 50px;
    border-bottom: 2px solid #ccc;
  }

  #albumdetails p{
    width: 18%;
    display: inline-block;
    text-align: left;
    padding: 0px;
    margin-left: 15px;
    font: 15px "Times New Roman", serif;

  }

  #albumlinks p {
    width: 20%;
    display: inline-block;
    margin-left: 10px;
    padding: 2px;
    text-align: left;

  }

  #albumdetails p a {



    text-align: right;
    text-transform: uppercase;
    color: #505050;
    font-weight: 900;

    border: 0px solid #ccc;
    text-decoration: none;
    font: 12px "Times New Roman", serif;

  }
