<h1>Hello World!</h1>

<h2>If you're a new user/band create an account and <a href="/signup">Sign Up</a></h2>

<h2>For returning users/bands <a href="/login">Log In</a></h2>

<p><a href="/login">Log In</a> <a href="/signup">Sign Up</a> <a href="/logout">Log Out</a></p>
